section{
    width: 100%;
}

#aboutus{
    padding: 2em; 
    background-color: #e7e7e7;
}

#aboutus div {
    display: inline-block;
    text-align: center;
    margin: 0.3em;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
}

#aboutus img{
    width: 8em;
    height: auto;
}

.box1 {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.8);
    width: 600px;
    margin:0 auto;
    font-family: Microsoft JhengHei;
    font-size: 14px;
    border: 1px rgb(0, 131, 148) solid;
    height: 45px;
}
.box2 {
    background-color: rgba(255, 255, 255, 0.6);
    width: 300px;
    border-radius: 17px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    display: inline-block;
    margin: 5px;
    border: 1px rgb(0, 131, 148) solid;
    text-align: center;
}
.box3 {
    background-color: rgba(255, 255, 255, 0.6);
    width: 275px;
    border-radius: 17px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    display: inline-block;
    margin: 5px;
    border: 1px rgb(0, 131, 148) solid;
    text-align: center;
}

